.image {
    background-image: url("Resources/smartbike.jpg"); 
    background-color: white; 
    background-position:top left; 
    background-repeat: no-repeat;
    background-size: 100%; 
    
  }

.nav-link{
    color: whitesmoke;
    font-size: 17px;
    position: relative;
    right: 180px;
}

#h1{
    color: #1d1d38;
    font-size: 50px;
    padding-bottom: 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#nav{
    background-color: #1d1d38;
    height:70px ;
    align-items: left;
    position: sticky;
}

#p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 10;
    padding-top: 100px;
    
}

#number{
    font-size: 90px;
}

#viz_button{
    background: white;
    position: relative;
    left: 200px;
}

#bike_check{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 10;
    padding-top: 70px;
}



#table_headers{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: 5;

}

.tbody{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;

}

#table{
    padding-top: 100px;
}

.ques{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #1d1d38;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;

}

.big{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #1d1d38;
    font-size: 60px;
    text-align: center;
}


#para{
    text-align: center;
    font-size: 13px;
    color: #1d1d38;
}

#map{ 
    height: 380px; 
}

#table2{
    text-align: center;
    font-size: 13px;
    color: #1d1d38;
}
  